<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a60e3976-2458-4988-8c36-d9ade1abfb36" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a60e3976-2458-4988-8c36-d9ade1abfb36fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
